<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="./holy-transaction.html">

<link rel="import" href="./bower_components/paper-toast/paper-toast.html">
<link rel="import" href="./bower_components/paper-button/paper-button.html">
<link rel="import" href="./bower_components/iron-collapse/iron-collapse.html">

<dom-module id="gsus-accounts">
  <template>
    <style>
      :host {
        font-family: Arial, Helvetica, sans-serif;
        display: block;
      }
      .horizontal {
        display: flex;
        flex-wrap:wrap;
      }
      holy-transaction {
        --deposit-color: royalblue;
        --withdraw-color: darkorange;
      }
      .collapse-content{
        width: 945px;
        padding: 10px;
        border: 1px solid #dedede;
      }
      .collapse-item-error{
        border: 2px solid;
        border-color: var(--error-color);
        background-color: var(--error-background-color);
        color: var(--error-color);
        padding: 15px
      }
      .collapse-item-success{
        border: 2px solid;
        border-color: var(--success-color);
        background-color: var(--success-background-color);
        color: var(--success-color);
        padding: 15px
      }
      .collapse-button{
        width: 945px;
        background-color: teal;
        color: white;
        margin-top: 10px
      }
      paper-toast.error {
        --paper-toast-background-color: var(--error-background-color);
        --paper-toast-color: var(--error-color);
      }
      paper-toast.success {
        --paper-toast-background-color: var(--success-background-color);
        --paper-toast-color: var(--success-color);
      }
    </style>
    <paper-toast id="toast" class$="{{_getToastColor(currentToastNotification.error)}}" text="[[currentToastNotification.message]]"></paper-toast>
    <div class="horizontal">
      <holy-transaction 
        name="God" 
        currency="Miracles" 
        max-amount="2000" 
        on-transaction-exist="_handleTransactionNotification"></holy-transaction>
      <holy-transaction 
        name="Disciples" 
        currency="Betrayals" 
        max-amount="2000" 
        integer
        on-transaction-exist="_handleTransactionNotification"></holy-transaction>
      <holy-transaction 
        name="Wine" 
        currency="Bottles" 
        max-amount="2000" 
        integer
        on-transaction-exist="_handleTransactionNotification"></holy-transaction>
      <holy-transaction 
        name="Bread" 
        currency="Pieces" 
        max-amount="2000" 
        integer
        on-transaction-exist="_handleTransactionNotification"></holy-transaction>
    </div>
    
    <paper-button 
      raised 
      on-click="_toggleCollapse"
      class="collapse-button">LOG</paper-button>
    <iron-collapse id="collapse">
      <div class="collapse-content">
        <dom-repeat items = "[[log]]">
          <template>
            <div class$="{{_getTransactionColor(item.error)}}">
                <h3>[[item.name]] [[item.actionName]]</h3>
                <p>[[item.message]]</p>
                <i>[[item.date]]</i>
            </div>
          </template>
        </dom-repeat>
      </div>                                                            
    </iron-collapse>
  </template>

  <script>
    /**
     * `gsus-accounts`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class GsusAccounts extends Polymer.Element {
      static get is() { return 'gsus-accounts'; }
      static get properties() {
        return {
          currentToastNotification: {
            type: Object,
            value: () => {
              return {}
            },
            observer: '_checkNotifications'
          }, 
          log: {
            type: Array,
            value: () => []
          }
        };
      }

      _handleTransactionNotification(e){
        this.$.toast.close()
        this.currentToastNotification = e.detail
        this.$.toast.open()
        this.push('log', e.detail)
      }
      _checkNotifications(newV, oldV){
        console.log('newV, oldV :', newV, oldV);
      }
      _toggleCollapse(){
        this.$.collapse.toggle()
      }
      _getTransactionColor (error){
        return error ? 'collapse-item-error' : 'collapse-item-success'
      }
      _getToastColor(error){
        return error ? 'error' : 'success'
      }
    }
    
    window.customElements.define(GsusAccounts.is, GsusAccounts);
  </script>
</dom-module>
