<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="./bower_components/paper-input/paper-input.html">
<link rel="import" href="./bower_components/paper-card/paper-card.html">
<link rel="import" href="./bower_components/paper-button/paper-button.html">
<link rel="import" href="./bower_components/paper-dialog/paper-dialog.html">



<dom-module id="holy-transaction">
  <template>
    <style>
      :host {
        display: block;
      }
      .deposit{
        background-color: var(--deposit-color);
        color: white
      }
      .withdraw{
        background-color: var(--withdraw-color);
        color:white
      }
      paper-dialog.depositDialog {
        border: 2px solid;
        border-color: var(--deposit-color)
        
      }
      paper-dialog.withdrawDialog {
        border: 2px solid;
        border-color: var(--withdraw-color)
      }
    </style>
    
    <paper-card heading$="[[_getHeader(name)]]">
      <div class="card-content">
        <h1>[[formatedFunds]]</h1>
        <h3>[[currency]]</h3>
      </div>
      <div class="card-actions">
        <paper-button raised on-click="_depositDialog" class="deposit">Deposit</paper-button>
        <paper-button raised on-click="_withdrawDialog" class="withdraw">Withdraw</paper-button>
      </div>
    </paper-card>
    <paper-dialog id="inputDialog" on-opened-changed="_handleDialogOpening" class$="{{_getPaperDialogClass(actionName)}}">
        <h2>[[_getInputDialogHeader(action)]]</h2>
        <paper-input id="amount" required label="Monto" type="number" value="{{amount}}">
            <div slot="suffix">[[currency]]</div>
        </paper-input>
        <div class="buttons">
            <paper-button raised on-tap="_executeAction" class$="{{_getPaperButtonClass(actionName)}}">[[actionName]]</paper-button>
        </div>
    </paper-dialog>

  </template>

  <script>
    class HolyTransaction extends Polymer.Element {
      static get is() { return 'holy-transaction'; }
      static get properties() {
        return {
          name: String,
          currency: String,
          maxAmount: Number,
          funds:{
            type: Number,
            value: 1000
          },
          amount:Number,
          integer:{
            type: Boolean,
            value: false
          },
          formatedFunds:{
            type: String,
            computed: '_formatFunds(funds)'
          },
          actionName:{
            type: String,
            computed: '_getActionName(action)'
          },
          action: Boolean
        };
      }
      _getHeader() {
        return `${this.name} money`
      }
      _getInputDialogHeader (){
        return `${this.name} money: ${this.actionName}`
      }
      _getActionName (action){
        return action ? 'Deposit' : 'Withdraw'
      }
      _getPaperDialogClass (actionName){
        return actionName.toLowerCase() + 'Dialog'
      }
      _getPaperButtonClass (actionName){
        return actionName.toLowerCase()
      }
      _formatFunds(funds){
        return funds.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      }
      _depositDialog(e){
        this.$.inputDialog.open()
        this.action = true
      }
      _withdrawDialog(e){
        this.$.inputDialog.open()
        this.action = false
      }
      _handleDialogOpening(e){
        if(!e.detail.value){
          
        }
      }
      _executeAction(e){
        const { name, actionName} = this
        let baseNotification = {
          name,
          actionName,
          message:'',
          error: false,
          date: new Date()
        }
        if(this.amount){
          const intAmount = parseFloat(this.amount)
          if(this.integer && (intAmount % 1 !== 0)){
            baseNotification.error = true
            baseNotification.message = `${this.name}'s transaction only accepts integers, amount entered: ${this.amount}`
            this.fireNotificationEvent(baseNotification)
          } else {
            if(intAmount > this.maxAmount){
              baseNotification.error = true
              baseNotification.message = `${this.amount} exceed maxium amount -> ${this.maxAmount}`
              this.fireNotificationEvent(baseNotification)
            } else {
              if(this.action){
                this.funds += intAmount
                this.funds = Math.round(this.funds * 100)/100
                baseNotification.message = `${this.amount} were withdrawn correctly, account balance ${this.funds}`
                this.fireNotificationEvent(baseNotification)
              } else {
                if(intAmount > this.funds){
                  baseNotification.error = true
                  baseNotification.message = `Insufficient funds, attempted to withdraw ${this.amount}`
                  this.fireNotificationEvent(baseNotification)
                } else {
                  this.funds -= intAmount
                  this.funds = Math.round(this.funds * 100)/100
                  baseNotification.message = `${this.amount} were deposited correctly, account balance ${this.funds}`
                  this.fireNotificationEvent(baseNotification)
                }
              }
            }
          }
        } else {
          baseNotification.error = true
          baseNotification.message = `No amount was entered`
          this.fireNotificationEvent(baseNotification)
        }
      }
      fireNotificationEvent(detail){
        this.dispatchEvent(new CustomEvent('transaction-exist', {detail, composed: true}));
      }
    }

    window.customElements.define(HolyTransaction.is, HolyTransaction);
  </script>
</dom-module>
